<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Coin Name</th>
      <th>Coin Qty</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < nominal.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= nominal[i].coinName %></td>
        <td><%= nominal[i].coinQty %></td>
        <td><%= nominal[i].price %></td>
        <td>
          <a href="/nominal/edit/<%= nominal[i]._id %>" class="btn btn-info btn-sm mb-1">
            <i class="fas fa-pencil-alt"></i>
            &nbsp;Edit
          </a>
          <form action="/nominal/delete/<%= nominal[i]._id %>?_method=DELETE" method="POST" style="display: inline-block;">
            <button class="btn btn-danger btn-sm mb-1">
              <i class="fas fa-trash"></i>
              &nbsp;Delete
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>